/Practice/01_Linear_Regression/.ipynb_checkpoints/Linear_Regression_Customer_Yearly_Spent_Amount-checkpoint.ipynb
/Practice/01_Linear_Regression/002_Predic_Appliances _Energy_Consumption/.ipynb_checkpoints/Predict_Energy_Consumption-checkpoint.ipynb
/Discussions/01_Linear_Regression/.ipynb_checkpoints/Linear_Regression_Customer_Yearly_Spent_Amount-checkpoint_BASE_2176.ipynb
/Discussions/01_Linear_Regression/.ipynb_checkpoints/Linear_Regression_Customer_Yearly_Spent_Amount-checkpoint_LOCAL_2176.ipynb
/Discussions/01_Linear_Regression/.ipynb_checkpoints/Linear_Regression_Customer_Yearly_Spent_Amount-checkpoint_REMOTE_2176.ipynb
/Discussions/01_Linear_Regression/01_Predict_Insurance_Charges/.ipynb_checkpoints/01_Predict_Insurance_Charges_HPT_1-checkpoint.ipynb
/Discussions/01_Linear_Regression/01_Predict_Insurance_Charges/.ipynb_checkpoints/01_Predict_Insurance_Charges_v2-checkpoint.ipynb
